<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>

<!--    dummy practice-->
<!--    <script th:src="@{/script.js}"></script>-->
<!--    <link th:href="@{/styles.css}" rel="stylesheet">-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body class="container">
<nav th:fragment="navigation">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/delete">Delete Events</a></li>
<!--        <li class="nav-item"><a class="nav-link" href="/events/edit">Edit Events</a></li>-->


    </ul>
</nav>
<td th:fragment="address">1234 5th St, Coderville, NE</td>

</body>
</html>