<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">
<h1>All Events</h1>
<nav th:replace = "~{fragments :: navigation}"></nav>

<p th:unless="${events} and ${events.size()}">None to show!</p>
<!--<ul><li th:each="event:${actualEvents}" th:text="${event.key}"></li></ul>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
    </thead>

    <tr th:each="event:${events}">
<!--        <td th:text="${event.key}"></td>-->
<!--        <td th:text="${event.value}"></td> works but for hashmaps-->
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
        <td th:replace="~{fragments :: address}"></td>
    </tr>

</table>
</body>
</html>